﻿@model BussyBus.Models.Journey

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Journey</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JourneyDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartBusStop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartBusStop.Direction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndBusStop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndBusStop.Direction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.Code)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
