﻿@model BussyBus.Models.Journey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Journey</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JourneyDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartBusStop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartBusStop.Direction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndBusStop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndBusStop.Direction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
