﻿@model BussyBus.Dto.JourneyFilterDto

@{
    ViewData["Title"] = "Index";
}
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.errorMessage</p>
    </div>
}

<h1>Journeys</h1>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Filters</div>
        <div class="panel-body ml-3 mr-3">
            <form class="row g-3" asp-action="Index">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-3">
                    <label class="form-label">Price min</label>
                    <input asp-for="PriceMin" type="number" name="PriceMin" class="form-control">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Price max</label>
                    <input asp-for="PriceMax" type="number" name="PriceMax" class="form-control">
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-label">Code Start</label>
                        <input asp-for="CodeStart" type="number" name="CodeStart" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Code End</label>
                        <input asp-for="CodeEnd" type="number" name="CodeEnd" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Order</label>
                        <select class="form-control" onchange="this.form.submit()" asp-for="Ordering" asp-items="ViewBag.orderingList">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a asp-action="Index" class="btn btn-danger">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@if (((String)ViewBag.role).Equals("ADMIN"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@if (((String)ViewBag.role).Equals("PASSENGER"))
{
    <td>
        <a asp-action="Create" asp-controller="Tickets">Buy</a>
    </td>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Price
            </th>
            <th>
                Code
            </th>
            <th>
                Start Bus Stop
            </th>
            <th>
                Code
            </th>
            <th>
                End Bus Stop
            </th>
            <th>
                Bus Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listJourneys)
        {
        <tr>
            <td>
                @item.JourneyDate
            </td>
            <td>
                @item.Price €
            </td>
            <td>
                @item.StartBusStop.Number
            </td>
            <td>
                @item.StartBusStop.Direction
            </td>
            <td>
                @item.EndBusStop.Number
            </td>
            <td>
                @item.EndBusStop.Direction
            </td>
            <td>
                @item.Bus.Code
            </td>
            @if (((String)ViewBag.role).Equals("ADMIN"))
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
