﻿@model BussyBus.Dto.BusStopFilterDto

@{
    ViewData["Title"] = "Index";
}
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.errorMessage</p>
    </div>
}

<h1>BusStops</h1>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Filters</div>
        <div class="panel-body ml-3 mr-3">
            <form class="row g-3" asp-action="Index">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-label">Number min</label>
                        <input asp-for="NumberMin" type="number" name="NumberMin" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Number max</label>
                        <input asp-for="NumberMax" type="number" name="NumberMax" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Direction</label>
                        <input asp-for="Direction" type="text" name="Direction" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Order</label>
                        <select class="form-control" onchange="this.form.submit()" asp-for="Ordering" asp-items="ViewBag.orderingList">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a asp-action="Index" class="btn btn-danger">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Direction
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listBusStops)
        {
            <tr>
                <td>
                    @item.Number
                </td>
                <td>
                    @item.Direction
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
