﻿@model BussyBus.Models.Ticket

@{
    ViewData["Title"] = "Create";
}
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-primary" role="alert">
        <p>@ViewBag.errorMessage</p>
    </div>
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label:hidden asp-for="Date" class="control-label"></label>
            </div>
            <div class="form-group">
                <label:hidden asp-for="PassengerID" class="control-label"></label:hidden>
            </div>
            <div class="form-group">
                <label asp-for="StartBusStop" class="control-label"></label>
                <select asp-for="StartBusStop" class="form-control" asp-items="ViewBag.StartBusStop"></select>
            </div>
            <div class="form-group">
                <label asp-for="EndBusStop" class="control-label"></label>
                <select asp-for="EndBusStop" class="form-control" asp-items="ViewBag.EndBusStop"></select>
            </div>

            <div class="form-group">
                <label:hidden asp-for="Total" class="control-label"></label:hidden>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

