﻿@model BussyBus.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartBusStop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartBusStop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndBusStop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndBusStop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passenger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passenger.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
