﻿@model IEnumerable<BussyBus.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-primary">
        <p>@ViewBag.errorMessage</p>
    </div>
}

<h1>Tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passenger)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartBusStop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndBusStop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passenger.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (((String)ViewBag.role).Equals("ADMIN"))
{
    <p>
        <a asp-action="CrearExcel">Ventas últimos 30 días</a>
    </p>
}

<asp:Button ID="btnGenerarExcel" Text="Descargar Excel" runat="server" OnClick="btnGeneraExcel_Click" />