﻿@model BussyBus.Models.BusHasDriver

@{
    ViewData["Title"] = "Create";
}
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-primary" role="alert">
        <p>@ViewBag.errorMessage</p>
    </div>
}
<h1>Create</h1>

<h4>BusHasDriver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusID" class="control-label"></label>
                <select asp-for="BusID" class="form-control" asp-items="ViewBag.BusID">
                    <option disabled selected>--- SELECT ---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DriverID" class="control-label"></label>
                <select asp-for="DriverID" class="form-control" asp-items="ViewBag.DriverID">
                    <option disabled selected>--- SELECT ---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
