﻿@model BussyBus.Dto.BusHasDriverFilterDto

@{
    ViewData["Title"] = "Index";
}

<h1>BusHasDrivers</h1>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Filters</div>
        <div class="panel-body ml-3 mr-3">
            <form class="row g-3" asp-action="Index">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-label">Diver Code min</label>
                        <input asp-for="DriverCodeMin" type="number" name="CapacityMin" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Driver Code max</label>
                        <input asp-for="DriverCodeMax" type="number" name="CapacityMax" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Bus Code min</label>
                        <input asp-for="BusCodeMin" type="number" name="CodeMin" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Bus Code max</label>
                        <input asp-for="BusCodeMax" type="number" name="CodeMax" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Order</label>
                        <select class="form-control" onchange="this.form.submit()" asp-for="Ordering" asp-items="ViewBag.orderingList">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a asp-action="Index" class="btn btn-danger">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@if (((String)ViewBag.role).Equals("ADMIN"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Bus Code
            </th>
            <th>
                Driver Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listBusHasDrivers)
        {
            <tr>
                <td>
                    @item.Code
                </td>
                <td>
                    @item.Bus.Code
                </td>
                <td>
                    @item.Driver.Code
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
