﻿@model BussyBus.Models.TicketHasJourney

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TicketHasJourney</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JourneyID" class="control-label"></label>
                <select asp-for="JourneyID" class ="form-control" asp-items="ViewBag.JourneyID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TicketID" class="control-label"></label>
                <select asp-for="TicketID" class ="form-control" asp-items="ViewBag.TicketID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

