﻿@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.errorMessage</p>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
