﻿@model BussyBus.Dto.CreditCardFilterDto

@{
    ViewData["Title"] = "Index";
}

<h1>CreditCards</h1>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Filters</div>
        <div class="panel-body ml-3 mr-3">
            <form class="row g-3" asp-action="Index">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-label">Name</label>
                        <input asp-for="Name" type="text" name="Name" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">CVV</label>
                        <input asp-for="CVV" type="text" name="CVV" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Expiration Month</label>
                        <input asp-for="ExpirationMonth" type="number" name="ExpirationMonth" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Expiration Year</label>
                        <input asp-for="ExpirationYear" type="number" name="ExpirationYear" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Order</label>
                        <select class="form-control" onchange="this.form.submit()" asp-for="Ordering" asp-items="ViewBag.orderingList">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a asp-action="Index" class="btn btn-danger">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                CreditCard Number
            </th>
            <th>
                CVV
            </th>
            <th>
                Expiration Month
            </th>
            <th>
                Expiration Year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listCreditCards)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                   ... @item.CreditCardNumber.Substring(item.CreditCardNumber.Length - 4, 4)
                </td>
                <td>
                    @item.CVV
                </td>
                <td>
                    @item.ExpirationMonth
                </td>
                <td>
                    @item.ExpirationYear
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
