﻿@model BussyBus.Models.BusHasStop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusHasStop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusStop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusStop.Direction)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
