﻿@model BussyBus.Dto.BusHasStopFilterDto

@{
    ViewData["Title"] = "Index";
}

<h1>BusHasStops</h1>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Filters</div>
        <div class="panel-body ml-3 mr-3">
            <form class="row g-3" asp-action="Index">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-label">Bus Code min</label>
                        <input asp-for="BusCodeMin" type="number" name="BusCodeMin" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Bus Code max</label>
                        <input asp-for="BusCodeMax" type="number" name="BusCodeMax" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Stop Number min</label>
                        <input asp-for="StopNumberMin" type="number" name="StopNumberMin" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Stop number max</label>
                        <input asp-for="StopNumberMax" type="number" name="StopNumberMax" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Order</label>
                        <select class="form-control" onchange="this.form.submit()" asp-for="Ordering" asp-items="ViewBag.orderingList">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a asp-action="Index" class="btn btn-danger">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bus Code
            </th>
            <th>
                Bus Stop number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listBusHasStops)
        {
            <tr>
                <td>
                    @item.Bus.Code
                </td>
                <td>
                    @item.BusStop.Number
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
