﻿@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.errorMessage</p>
    </div>
}


<!--Formulario de login
label
input para el username
label
input para el password

input submit para guardar
boton que nos lleve al registro, es decir, a crear un customer-->
<div class="container pt-5 w-25">
    <div class="row login-page">
        <div class="col-md-12 login-form">
            <form asp-action="Login" class="form-group">
                <div class="row">
                    <div class="col-md-12 login-form-header">
                        <h2 class="login-form-font-header text-center">Bussy<span>Bus</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <label for="inputUsername">Username</label>
                        <input id="inputUsername" class="container form-control" type="text" name="username" value="@ViewData["username"]" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <label for="inputPassword">Password</label>
                        <input id="inputPassword" class="container form-control" type="password" name="password" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row pt-3">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row pt-3">
                        <a asp-action="Create" asp-controller="Passengers"
                           class="btn btn-success" value="SignUp">Sign Up Passenger</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row pt-3">
                        <a asp-action="RememberPassword" asp-controller="Login"
                           class="btn btn-danger" value="Remember">Remember password</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>