﻿@{
    ViewData["Title"] = "RememberPassword";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.errorMessage</p>
    </div>
}
<h1>Remember Password</h1>
<div class="container pt-5 w-25">
    <div class="row login-page">
        <div class="col-md-12 login-form">
            <form asp-action="SendEmail" class="form-group">
                <div class="row">
                    <div class="col-md-12 login-form-header">
                        <h2 class="login-form-font-header text-center">Bussy<span>Bus</span></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <label for="inputEmailOrUsername">Email or Username</label>
                        <input id="inputEmailOrUsername" class="container form-control" type="text" name="emailOrUsername" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 login-from-row pt-3">
                        <input type="submit" value="Send Email" class="btn btn-primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row pt-3">
                        <a asp-action="Index" asp-controller="Login"
                           class="btn btn-danger">Return to Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
