﻿@model BussyBus.Dto.PasswordDto;

@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<h1>Reset Password</h1>


<div class="container pt-5 w-25">
    <div class="row login-page">
        <div class="col-md-12 login-form">
            <form asp-action="ChangePassword" class="form-group">
                <div class="row">
                    <div class="col-md-12 login-form-header">
                        <h2 class="login-form-font-header text-center">Altair<span>Supermarket</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <label:hidden asp-for="Email" class="control-label"></label:hidden>
                        <input type="hidden" asp-for="Email" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <label:hidden asp-for="Token" class="control-label"></label:hidden>
                        <input type="hidden" asp-for="Token" class="form-control" />
                    </div>
                </div>




                <div class="row">
                    <div class="col-md-12 login-from-row pt-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row pt-3">
                        <a asp-action="Index" asp-controller="Login"
                           class="btn btn-danger">Return to Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
