﻿@model BussyBus.Dto.AdminFilterDto

@{
    ViewData["Title"] = "Index";
}

<h1>Admins</h1>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Filters</div>
        <div class="panel-body ml-3 mr-3">
            <form class="row g-3" asp-action="Index">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-3">
                    <label class="form-label">Code min</label>
                    <input asp-for="CodeMin" type="number" name="CodeMin" class="form-control">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Code max</label>
                    <input asp-for="CodeMax" type="number" name="CodeMax" class="form-control">
                </div>
                <div class="form-group row">
                    <div class="col-md-6 form-group">
                        <label class="form-label">Name</label>
                        <input asp-for="Name" type="text" name="Name" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Surname</label>
                        <input asp-for="Surname" type="text" name="Surname" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Phone</label>
                        <input asp-for="Phone" type="text" name="Phone" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="form-label">Username</label>
                        <input asp-for="Username" type="text" name="Username" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Order</label>
                        <select class="form-control" onchange="this.form.submit()" asp-for="Ordering" asp-items="ViewBag.orderingList">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a asp-action="Index" class="btn btn-danger">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listAdmins)
        {
        <tr>
            <td>
                @item.Code
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @item.UserAccount.Username
            </td>
            <td></td>
        </tr>
        }
    </tbody>
</table>
